
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .yes-pls {
    border: 1px solid #ccc!important;
    border-radius: 16px;
    font-size: 32;
    background-color: rgb(25, 209, 65);
    visibility: hidden;
  }
  .no-pls {
    border: 1px solid #ccc!important;
    border-radius: 16px;
    font-size: 32;
    background-color: rgb(236, 127, 25);
    visibility: hidden;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-left: 35%;
    width: 25%;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    border-radius: 5px 5px 0 0;
  }